--extra-index-url https://download.pytorch.org/whl/cpu
cfn-lint
flake8
ipykernel
ipywidgets
jinja2==3.1.2
jinja2-cli
jupyterlab
jupytext
markupsafe==2.1.1
matplotlib
nbclassic==0.4.8
nox
numpy
packaging==22.0
pandas
pre-commit
pybind11
pyyaml==5.4.1
requests==2.28.1
scikit-learn
scipy
snakemake
tensorflow
torch
torchaudio
torchvision
tqdm
