--extra-index-url https://download.pytorch.org/whl/cpu
awscli
flake8
ipykernel
ipywidgets
jinja2
jinja2-cli
jupyterlab
markupsafe==2.0.1
matplotlib
nbclassic==0.4.5
nox
numpy
pandas
pre-commit
pybind11
scikit-learn
scipy
snakemake
tensorflow
torch
torchaudio
torchvision
